  <% if (settings.env === 'development') { -%>
    <script src="http://127.0.0.1:35729/livereload.js"></script>
  <% } -%>
  <p>/!\ Le code original provient de Demo-session ainsi que Demo-Cookies réalisé par Monsieur Roland François./!\</p>
  </body>
</html>
